
	<footer class="page-footer blue-grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col s12">
                <h5 class="white-text">Aviso sobre o conteúdo</h5>
                <p class="grey-text text-lighten-4">
		Os dados apresentados são apenas uma representação de quantos cliques ocorreram em cada uma das opções. Sendo passíveis de falha são apenas uma representação da opinião geral dos participantes.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue-grey darken-4">
            <div class="container">
            © 2014 Copyright Deixe a Internet Livre!
            </div>
          </div>
    </footer>