
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="http://prooucontra.com.br" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Pró ou Contra - Impeachment" />
	<meta property="og:description"   content="Acompanhe a opinião das pessoas sobre o impeachment e dê a sua!" />
	<meta property="og:image"         content="http://prooucontra.com.br/images/prooucontra.com.br.png?4" />

	<meta name="author" content="Deixe a Internet Livre!">
	<meta name="description" content="Acompanhe a opinião das pessoas sobre o impeachment e dê a sua!">
	<meta name="keywords" content="votação, votacao, impeachment, opinião, dilma, senado, camara, plenario, comissão, especial, internet, público, pública, ministério, sessão, voto, quem, como, economia, brasil, brasilia, parlamento, pt, cunha, temer">
	<meta name="robots" content="index, follow">


	<title>Pró ou Contra</title>
	<% include styles %>

</head>