
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
	<meta property="og:url"           content="http://prooucontra.com.br" />
	<meta property="og:type"          content="website" />
	<meta property="og:title"         content="Pró ou Contra - Impeachment" />
	<meta property="og:description"   content="Acompanhe a opinião das pessoas e dê a sua própria!" />
	<meta property="og:image"         content="http://prooucontra.com.br/images/prooucontra.com.br.png?3" />

	<title>Pró ou Contra</title>
	<% include styles %>
</head>